
body {
    font-family:Baskerville,"Baskerville Old Face",Garamond,"Times New Roman",serif;
    line-height: 1.2;
    margin: 0;
    padding: 1em;
    font-size: 1em;
    font-weight: 525;
    -webkit-hyphens: auto; /* Safari, 旧版Chrome */
    -moz-hyphens: auto;    /* Firefox */
    -ms-hyphens: auto;     /* 旧版Edge/IE */
    hyphens: auto;  
  text-align: justify;
text-justify: inter-word; 
}

.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
    }
em,i {
font-style: italic;
font-family: Garamond,"Baskerville Old Face","Times New Roman",serif;
}
h1, h2 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align:center;
}
h3, h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align:center;
}
h6 {
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-weight: bold;
    text-align:center;
}
h5 {
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
}

hr {
    margin: 1em auto 1em auto;
    text-align:center;
}
.cover-image {{
            max-width: 100%;
            height: auto;
            margin: 20px 0;
            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        }}
span[align="center"] {
display: block;
}
