
body {
    line-height: 1.2;
    margin: 0;
    padding: 1em;
    font-size: 1em;
}

p.quote,div.quote,span.quote {
    font-size: 0.75em;
    margin: 1.5em 1px 1.5em 1px;
}
table.quote  {
    font-size: 0.75em;
    margin: 1.5em auto 1.5em auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align:center;
}


p.date,div.date {
    font-size: 0.75em;
    margin: 1.5em auto 1.5em auto;
    text-align:center;
}
span.cq,div.cq {
text-align:center;
display: block;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
}
