.style1 {color: #FF0000;font-family: "黑体";}
.style2 {font-size: 1.25em}
.style3 {font-size: 0.75em;text-align:center;}
.quote {font-size: 0.75em;margin: 1.5em 1px 1.5em 1px;}
table {margin: 1.5em;max-width:100%;}
table.quote  {font-size: 0.75em; margin: 1.5em;}
h1,h2 {font-family: "黑体"; text-align:center;}
h3,h4,h5,h6 {font-family: "黑体"; text-align:center;}
body {max-width: 100%;font-family: "华文中宋","黑体";}
span.cq,div.cq {text-align:center;display: block;}
div[align="right"] table {margin: 1.5em 0 1.5em auto;}
span[align="center"] {display: block;}
