.style1 {color: #FF0000;font-family: "黑体";}
.style2 {font-size: 1.25em}
.date,.style3 {font-size: 0.75em;text-align:center;}
.quote {font-size: 0.75em;margin: 1.5em 1px 1.5em 1px;}
table {margin: 1.5em;max-width:100vw;}
table.quote  {font-size: 0.75em; margin: 1.5em;}
h1,h2 {font-family: "黑体"; text-align:center;}
h3,h4,h5,h6 {font-family: "黑体"; text-align:center;}
body {max-width: 100%;font-family: "华文中宋","黑体";color:#1F2937;background-color: #FAFAF8;}/*#F9FAFB;#F7F7F5;#000000;*/
span.cq,div.cq {text-align:center;display: block;}
div[align="right"] table {margin: 1.5em 0 1.5em auto;}
span[align="center"] {display: block;}
a {color:#2563EB;text-decoration: underline;}/*#1A0DAB;*/
a:visited {color:#4B6CB7}
a:hover, a:focus {color:#1E40AF;}/*#2563EB;#6B7280*/

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: #e0e0e0;
  background-color: #FAFAF8;}
a {
  color: #64ABD5;
  text-decoration: underline;
}

a:visited {
  color:  #8597AE
}

a:hover, a:focus {
  color: #a3d4ff;
  text-decoration: underline;
}

a:active {
  color:  #ff6b6b; 
}
h1,h2,h3,h4,h5,h6,b {
 color:  #F0F0F0;
}
a b,b a {
 color:   #64ABD5;
  text-decoration: underline;
}
a:visited  b,b a:visited{
  color:  #8597AE
}

a:hover b, a:focus b ,b a:focus, b a:hover{
  color: #a3d4ff;
}

a:active b,b a:active {
  color:  #ff6b6b; 
}

}


